/* Styles pour le lien de mot de passe oublié */
.login-forgot-password {
    margin-bottom: 1rem;
}
.login-forgot-password a {
    color: #007bff;
    text-decoration: none;
}
.login-legal-text {
    font-size: 14px;
    margin-top: 15px;
    text-align: left;
}
.login-forgot-password a:hover {
    text-decoration: underline;
}