.signup {
  text-align: left;
  padding: 2rem 1rem;
  background-color: #001a66;
  border-radius: 8px;
  max-width: 90%;
  margin: 0 auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.signup-legal-text {
    font-size: 14px;
    margin-bottom: 20px;
  }
  
  .a-diviser-inner {
    margin-top: 20px
}

.identificate-link {
  color: #00bfff;
  text-decoration: none;
}
.identificate-link:hover {
  text-decoration: underline
}

@media (min-width: 768px) {
.signup {
  text-align: left;
  padding: 2rem 1rem;
  background-color: #001a66;
  border-radius: 8px;
  max-width: 520px;
  margin: 0 auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
}