{% extends 'base.html' %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/create_ticket.css' %}" />
{% endblock %}

{% block breadcrumb_area %}
<div class="breadcrumb_area_first_div">
  <h2>{{ title_view }}</h2>
  <div class="breadcrumb-path">
    <a href="{% url 'app:flux' %}" class="breadcrumb-link">Flux</a>
    <span class="breadcrumb-arrow">→</span>
    <span class="breadcrumb-label">Crée une critique</span>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="create-ticket">
  <form method="POST">
    {% csrf_token %}
    <section>
      <!-- Section Livre / Article -->
      <h3>Livres / Articles</h3>
      <div>
        <label for="{{ create_ticket_form.title.id_for_label }}">
          {{ create_ticket_form.title.label }}
        </label><br />
        {{ create_ticket_form.title }} {{ create_ticket_form.title.errors }}
      </div>
      <div>
        <label for="{{ create_ticket_form.description.id_for_label }}">
          {{ create_ticket_form.description.label }}
        </label><br />
        {{ create_ticket_form.description }} {{ create_ticket_form.description.errors }}
      </div>
      <div>
        <label for="{{ create_ticket_form.image.id_for_label }}">
          {{ create_ticket_form.image.label }}
        </label><br />
        {{ create_ticket_form.image }} {{ create_ticket_form.image.errors }}
      </div>
    </section>

    <!-- Section Critique -->
    <section>
      <h3>Critique</h3>
      <div>
        <label for="{{ create_ticket_form.headline.id_for_label }}">
          {{ create_ticket_form.headline.label }}
        </label><br />
        {{ create_ticket_form.headline }} {{ create_ticket_form.headline.errors }}
      </div>
      <div>
        <label for="{{ create_ticket_form.rating.id_for_label }}">
          {{ create_ticket_form.rating.label }}
        </label><br />
        {{ create_ticket_form.rating }} {{ create_ticket_form.rating.errors }}
      </div>
      <div>
        <label for="{{ create_ticket_form.body.id_for_label }}">
          {{ create_ticket_form.body.label }}
        </label><br />
        {{ create_ticket_form.body }} {{ create_ticket_form.body.errors }}
      </div>
    </section>
    <button type="submit">Soumettre</button>
  </form>
</div>
{% endblock %}