<form method="POST" action="{% url 'app:create-review' %}" enctype="multipart/form-data">
  {% csrf_token %}
  <section class="create-review-section-primary">
    <h3 class="form-title">Livre / Article</h3>
    <div>
      <label for="{{ create_review_form.title.id_for_label }}"> {{ create_review_form.title.label }} </label>
      {{ create_review_form.title }} {{ create_review_form.title.errors }}
    </div>
    <div>
      <label for="{{ create_review_form.description.id_for_label }}">
        {{ create_review_form.description.label }} </label>
      {{ create_review_form.description }} {{ create_review_form.description.errors }}
    </div>
    <div>
      <label for="{{ create_review_form.image.id_for_label }}"> {{ create_review_form.image.label }} </label>
      {{ create_review_form.image }} {{ create_review_form.image.errors }}
    </div>
  </section>

  <!-- Section Critique -->
  <section class="create-review-section-seconde">
    <h3 class="form-title">Critique</h3>
    <div>
      <label for="{{ create_review_form.headline.id_for_label }}"> {{ create_review_form.headline.label }} </label>
      {{ create_review_form.headline }} {{ create_review_form.headline.errors }}
    </div>
    <div>
      <label for="{{ create_review_form.rating.id_for_label }}"> {{ create_review_form.rating.label }} </label>
      <div class="rating-input-row">
      {% for input in create_review_form.rating %}
        <div class="rating-input">
          {{ input }}{{ input.errors }}
        </div>
      {% endfor %}
      </div>
    </div>
    
    <div>
      <label for="{{ create_review_form.body.id_for_label }}"> {{ create_review_form.body.label }} </label>
      {{ create_review_form.body }} {{ create_review_form.body.errors }}
    </div>
  </section>
  <button type="submit">Soumettre</button>
</form>
