/* Base Styling */
* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: white;
  margin: 0;
  padding: 0;
  font-family: 'Sora', sans-serif;
}
body {
  background-color: #00083f;
}

a, p {
  font-size: 14px;
  line-height: 1.5;
}

/* En-tête */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  max-width: 1320px;
  margin: 0 auto;
  background-color: #00083f;
}
.menu-bar {
  display: flex;
  align-items: center;
}

#hamburger-button {
  background: none;
  border: none;
  cursor: pointer;
  z-index: 10;
}

#hamburger-button.active span {
  background: #00bfff;
}
#hamburger-button span {
  display: block;
  width: 25px;
  height: 3px;
  background: white;
  margin: 5px 0;
  transition: all 0.3s ease;
}
/* Navigation */
.navigation {
  display: none;
  position: absolute;
  right: 0;
  background-color: #001a66;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 5;
}

.navigation.open {
  display: block;
  width: 30%;
}

.nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-item {
  padding: 1rem;
}

.nav-link {
  color: white;
  text-decoration: none;
  display: block;
}

.nav-link:hover {
  color: #00bfff;
}

/* Logo */
.logo {
  max-width: 100%;
  height: auto;
}

.diviser-header {
  max-width: 1320px;
  padding: 1rem;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
/* Contenu principal */
.main-content {
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
  padding: 1rem;
}

/* Pied de page */
.footer {
  padding: 1.5rem;
  font-size: 12px;
  opacity: 0.8;
  margin: 0 auto;
  margin-top: 200px;
  max-width: 1320px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer a {
  color: #00bfff;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.messages {
    display: flex;
    flex-direction: column;
    align-items: center;
}
@keyframes zoom {
  0% { font-size: 16px; }
  50% { font-size: 22px; }
  100% { font-size: 16px; }
}
.alert.alert-error {
  animation: zoom 0.5s infinite;
  color: #cc0000;
}

/* Responsive */

@media (min-width: 768px) {
  .link-logo-header {
    width: 30%;
  }
  .menu-bar {
    display: none;
  }
  .navigation {
    display: flex;
    position: static;
    background-color: transparent;
    box-shadow: none;
    width: auto;
  }

  .nav-list {
    display: flex;
    align-items: center;
  }

  .nav-item {
    padding: 0 1rem;
  }

  .nav-link {
    color: white;
    text-decoration: none;
  }

  #hamburger-button {
    display: none;
  }
}
