{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/form.css' %}" />
<link rel="stylesheet" href="{% static 'css/posts.css' %}" />
{% endblock %}

{% block breadcrumb_area %}
<div class="breadcrumb_area_first_div">
  <h2 class="form-title">{{ title_view }}</h2>
  <div class="breadcrumb-path">
    <a href="{% url 'app:flux' %}" class="breadcrumb-link">Flux</a>
    <span class="breadcrumb-arrow">→</span>
    <span class="breadcrumb-label">Demander un ticket</span>
  </div>
</div>
{% endblock %}

{% block content %}
{% include 'app/tickets/ticket_form.html' with post=ticket %}
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/post-update.js' %}"></script>
{% endblock %}