/* Styles pour la page d'accueil */
.diviser-header {
  display: none;
}
.breadcrumb_area {
  display: none;
}
.home {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 2rem 1rem;
  }
  
  .home__welcome {
    margin-bottom: 1.5rem;
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
  }
  
  .home__prompt {
    margin-bottom: 2rem;
    font-size: 1.2rem;
    line-height: 1.8;
    color: #d3d3d3;
    text-align: center;
  }
  
  /* Styles pour la section de connexion */
  .login-section {
    text-align: left;
    padding: 2rem 1rem;
    background-color: #001a66;
    border-radius: 8px;
    max-width: 90%;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  .section-row {
    margin-top: 50px;
  }
  /* Styles pour la section d'inscription */
  .signup-section {
    margin-top: 2rem;
    text-align: center;
    border-radius: 8px;
    max-width: 500px;
    margin: 2rem auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .signup-section__title {
    margin-bottom: 1rem;
    font-weight: bold;
    color: #00bfff;
  }
  .signup-section a {
    padding: 10px;
    margin: 0 auto;
    text-decoration: none;
    border: none;
    border-radius: 6px;
    background-color: #00bfff;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .signup-section a:hover {
    background-color: #0056b3;
  }

  /* Responsive */
  @media (min-width: 768px) {
    .home {
      width: 80%;
    }
    .login-section {
      width: 70%;
    }
    .signup-section__link {
      width: 75%;
    }
  }
  
  @media (min-width: 1024px) {
    .home {
      width: 100%;
    }
    .section-row {
      display: flex;
    }
    .login-section,
    .signup-section {
      padding: 3rem 2rem;
      max-width: 40%;
    }
    .signup-section {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: inherit;
      box-shadow: inherit;
      border-radius: inherit;
    }
  
    .login-form input {
      font-size: 1.1rem;
    }
  
    .signup-section__title {
      font-size: 1rem;
    }
  }