{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/flux.css' %}" />
{% endblock %}

{% block breadcrumb_area %}
<div class="breadcrumb_area_first_div">
  <h2>{{ title_view }}</h2>
  <div class="breadcrumb-path">
    <a href="{% url 'app:flux' %}" class="breadcrumb-link">Flux</a>
    <span class="breadcrumb-arrow">→</span>
    <span class="breadcrumb-label">Flux</span>
  </div>
</div>
{% endblock %}


{% block content %}
<div class="flux">
  <div class="action-links">
    <a href="{% url 'app:request-ticket' %}" class="btn btn-primary">Demander une critique</a>
    <a href="{% url 'app:create-ticket' %}" class="btn btn-secondary">Créer une critique</a>
  </div>

  <div class="flux-items">
    {% if posts %}
        <div class="items">
            <div class="post">
                <!-- Afficher les critiques -->
                {% for post in posts %}
                    {% if post.headline %}
                        {% include 'app/flux/review_snippet.html' %}
                    {% endif %}
                {% endfor %}

                <!-- Afficher les tickets -->
                {% for post in posts %}
                    {% if post.title %}
                        {% include 'app/flux/ticket_snippet.html' %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% else %}
        <p>Aucun billet ou critique à afficher.</p>
    {% endif %}
</div>
</div>
{% endblock %}