<!-- review_snippet.html -->
  <div class="post-header">
    {% if post.user == request.user %}
    <span class="post-request">Vous avez publié une critique</span>
    {% else %}
    <span class="post-request">{{ post.user }} a publié une critique</span>
    {% endif %}
    <span class="post-date">{{ post.time_created|date:"d M Y H:i" }}</span>
  </div><br>

  <div class="post-review-row">
  <div class="post-title" ><h4>{{ post.headline }}</h4></div>
  <div class="post-rating">
    <p>- 
      {% for i in "12345" %}
        {% if i|add:0 <= post.rating %}
          <i class="fas fa-star"></i>
        {% else %}
          <i class="far fa-star"></i>
        {% endif %}
      {% endfor %}
    </p>
  </div>
  </div>

  <div class="post-description"><p>{{ post.body }}</p></div>

  <div class="ticket">
    <p>Ticket - {{ post.ticket.user }}</p><br>
    <p>{{ post.ticket.description }}</p>
    {% if post.ticket.image %}
    <img src="{{ post.ticket.image.url }}" alt="Ticket Image" class="post-image" /><br>
    {% else %}
    <p class="no-image">Pas d'image disponible</p>
    {% endif %}
  </div>
