<!-- ticket_snippet.html -->
  <div class="post-header">
    {% if post.user == request.user %}
    <span class="post-request">Vous avez demandé une critique</span>
    {% else %}
    <span class="post-request">{{ post.user }} a demandé une critique</span>
    {% endif %}
    <span class="post-date">{{ post.time_created|date:"d M Y H:i" }}</span>
  </div>
  <br>
  <div class="post-title"><h3>{{ post.title }}</h3></div><br>
  <div class="post-description"><p>{{ post.description }}</p></div>
  <div class="ticket-image">
    {% if post.image %}
    <img src="{{ post.image.url }}" alt="Ticket Image" class="post-image" /><br>
    {% else %}
    <p class="no-image">Pas d'image disponible</p>
    {% endif %}
  </div>
  <div class="post-response-link">
    {% if post.user != request.user and not post.review_set.exists %}
    <a href="{% url 'app:ticket-detail' post.id %}" class="btn btn-third">Créer une critique</a>
    {% endif %}
  </div>
