{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
{% endblock %}

{% block breadcrumb_area %}
<div class="breadcrumb_area_first_div">
  <h2>{{ title_view }}</h2>
  <div class="breadcrumb-path">
    <a href="{% url 'app:flux' %}" class="breadcrumb-link">Flux</a>
    <span class="breadcrumb-arrow">→</span>
    <span class="breadcrumb-label">Abonnements</span>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="search-container">
  <h3>Suivre d'autres utilisateurs</h3>
  <form id='add-user-form' method="POST">
    {% csrf_token %} 
      {{ research_user_form.as_p }}
      <button id='btn-add-user' type="submit">Envoyer</button>
  </form>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/research_user.js' %}"></script>
{% endblock %}
