{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/followers.css' %}">
<link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock %}

{% block breadcrumb_area %}
<div class="breadcrumb_area_first_div">
  <h2>{{ title_view }}</h2>
  <div class="breadcrumb-path">
    <a href="{% url 'app:flux' %}" class="breadcrumb-link">Flux</a>
    <span class="breadcrumb-arrow">→</span>
    <span class="breadcrumb-label">Abonnements</span>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="followers">
<div class="search-container">
  <h3 class="form-title">Suivre d'autres utilisateurs</h3>
  <form class="add-user-form" id="add-user-form" method="POST">
    {% csrf_token %}
    <div class="input-container">
      <label class="label-research-user">{{ research_user_form.email }}</label>
      <span><button id="btn-add-user" type="submit">Envoyer</button></span>
    </div>
  </form>
</div>

<div class="unfollowers-container">
  <h3 class="form-title">Abonnements</h3>
  <form method="POST" action="{% url 'accounts_app:unfollow' %}">
    {% csrf_token %}
    {% for follow in followed_user %}
    <table class="user-unfollow">
      <tbody>
        <tr>
          <td>{{ follow.followed_user.email }}</td>
          <td>
            <button type="submit" name="unfollow" value="{{ follow.followed_user.id }}">Désabonner</button>
          </td>
        </tr>
      </tbody>
    </table>
    {% empty %}
      <p>Aucun abonnement trouvé.</p>
    {% endfor %}
    </form>
</div><br>

<div class="followers-container">
  <h3 class="form-title">Abonnés</h3>
  <table class="followers-table">
    <tbody>
      {% for follower in followers %}
      <tr>
        <td class="follower-cell">{{ follower.user }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/research_user.js' %}"></script>
{% endblock %}
