{% extends 'base.html' %} {% load static %} {% block extra_css%}
<link rel="stylesheet" href="{% static 'css/form.css' %}" />
<link rel="stylesheet" href="{% static 'css/signup.css' %}" />
<link rel="stylesheet" href="{% static 'css/home.css' %}" />
{% endblock %} 

{% block content %}
<div class="home">
<h1 class="home__welcome">Bienvenue sur notre site LitReview !</h1>
<p class="home__prompt">Vous pouvez dès a présent vous inscrire ci-dessous !</p>
<div class="signup">
  <h2 class="form-title">Inscription</h2>
  <form method="post" class="signup-form">
    {% csrf_token %}
    <div class="form-group">
      <input id="username" type="text" name="username" placeholder="Nom d'utilisateur" required class="form-input" />
    </div>
    <div class="form-group">
      <input
        id="password"
        type="password"
        name="password"
        placeholder="Mot de passe"
        required
        class="form-input"
      />
    </div>
    <div class="form-group">
      <input
        id="password1"
        type="password"
        name="password1"
        placeholder="Retapez votre mot de passe"
        required
        class="form-input"
      />
    </div>
    <div id="SignuplegalText" class="signup-legal-text">
      En continuant, vous acceptez les <a href="">conditions d'utilisation </a> de LitReview. Consultez notre
      <a href="">déclaration de confidentialité</a>, notre <a href="">politique relative aux cookies</a> ainsi que
      notre <a href="">politique relative aux publicités ciblées par centres d’intérêts</a>.
    </div>
    <button type="submit" class="btn-signup">S'inscrire</button>
  </form>

  <div class="a-diviser-inner">
    Vous possédez déjà un compte? <a href="{% url 'app:home' %}" class="identificate-link">Identifiez-vous ></a>
  </div>
</div>
</div>
{% endblock %}