{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LitReview</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block head %}{% endblock %}
</head>
<body class="body">
    <header class="header">
        <div class="container">
            <a href="{% url 'app:home' %}">
                <img src="{% static 'images/logos/litreview.png' %}" alt="Logo du site" class="logo">
            </a>
            {% if user.is_authenticated %}
            <nav class="navigation">
                <ul class="nav-list">
                    <li class="nav-item">
                        <a href="{% url 'accounts_app:logout' %}" class="nav-link">Se déconnecter</a>
                    </li>
                </ul>
            </nav>
            {% endif %}
        </div>
    </header>
    <main class="main-content">
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </main>
    <footer class="footer">
        <div class="container">
            <!-- Contenu du pied de page -->
        </div>
    </footer>
</body>
</html>