{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}
{% block content %}
<div class="home">
        <h1 class="home__welcome">Bienvenue sur notre site LitReview !</h1>
        <p class="home__prompt">Veuillez vous connecter ou vous inscrire pour continuer.</p>
        <div class="section-row">
        <section class="login-section">
            {% include 'accounts_app/login.html' %}
        </section>

        <section class="signup-section">
            <h5 class="signup-section__title">--------------- Nouveau chez LitReview ? -------------</h5>
            <p class="signup-section__link">
                <a href="{% url 'accounts_app:signup' %}">Créer votre compte LitReview</a>
            </p>
        </section>
    </div>
</div>
{% endblock %}